## Settings file was created by plugin PsychoValuable v1.3.0
## Plugin GUID: com.github.zehsteam.PsychoValuable

[General]

## Enable extended logging.
# Setting type: Boolean
# Default value: false
ExtendedLogging = false

[Psycho]

## If enabled, Psycho will continuously speak every 5 to 10 seconds when a player is within 5 meters.
# Setting type: Boolean
# Default value: false
ContinuouslySpeakInProximity = false

