## Settings file was created by plugin Custom Boombox Music v1.0.0
## Plugin GUID: CustomBoomboxMusic

[General]

## If enabled, plugin will be loaded
# Setting type: Boolean
# Default value: true
# Acceptable values: True, False
PluginEnabled = true

[Music]

## Select the music for replacement
# Setting type: String
# Default value: ALL
# Acceptable values: ALL, Habib Sedaye Farda.ogg, NOYSE-Rudeejay-Loner.ogg, Shinghili Nanay.ogg
SelectedMusic = Shinghili Nanay.ogg

