## Settings file was created by plugin NikkiUpgrades v1.0.0
## Plugin GUID: NikkiUpgrades

[Investor Upgrade]

## Should the Investor upgrade be enabled?
# Setting type: Boolean
# Default value: true
Enabled = true

## How much should the Investor upgrade multiply your total money, per upgrade? Base value is 10%.
# Setting type: Single
# Default value: 10
Investor Upgrade Power = 10

## How many Investor upgrades should be purchasable before they stop spawning? Base value is 3.
# Setting type: Int32
# Default value: 3
Investor Upgrade Purchase Maximum = 3

[Stamina Regen Upgrade]

## Should the Stamina Regen Upgrade be enabled?
# Setting type: Boolean
# Default value: true
Enabled = true

## How much should Stamina Regen increase per upgrade? Base stamina regen is 2. The base value means it takes 2 upgrades to double your stamina regen.
# Setting type: Single
# Default value: 1
Stamina Regen Upgrade Power = 1

[Unstable Core Upgrade]

## Should the Unstable Core Upgrade be enabled?
# Setting type: Boolean
# Default value: true
Enabled = true

## How much damage should the Unstable Core Upgrade do per upgrade? Base value is 250. This value is multiplied by 0.4 for players (default 100).
# Setting type: Int32
# Default value: 250
Unstable Core Upgrade Power = 250

## How big should the radius of the Unstable Core Upgrade explosion be? Base value is 3f.
# Setting type: Single
# Default value: 3
Unstable Core Upgrade Radius = 3

## Should the Unstable Core upgrade become more dangerous and unstable after 3+ upgrades on the same player?
# Setting type: Boolean
# Default value: true
Unstable Core Upgrade Stability = true

## Should the Unstable Core upgrade allow you to become a tumble missile after 3+ upgrades on the same player?
# Setting type: Boolean
# Default value: true
Unstable Core Upgrade Tumble Missile = true

