## Settings file was created by plugin Custom Photon Server v1.0.2
## Plugin GUID: RepoCustomPhotonServer

[General]

# Setting type: Boolean
# Default value: false
Enable = true

# Setting type: Boolean
# Default value: false
Change SteamAppId = false

[Photon AppIDs]

## Photon Realtime App ID
# Setting type: String
# Default value: 
AppIdRealtime = 5d6dfa8d-6d0e-4c16-b1ce-26bb34ab27f9

## Photon Voice App ID
# Setting type: String
# Default value: 
AppIdVoice = 34e77604-d9f4-4e6a-a4f3-e3041bfba88e

